*{
    margin: 0;
    padding: 0;
    top:0;
}
.container{
    height: 100%;
    width: 100%;
}
.header{
    padding: 0% 18%;
    position: fixed;
    top:0;
}
.header nav{
    max-height: 85px;
    display: flex;
    width: 96%;
    margin-left: auto;
    justify-content: center;
    align-items: center;;
}
.web-Log{
    width: 44px;
    margin-right: auto;
}
.web-Log img {
    height: 48px;
    width: 80px;
}
.header{
    background: #FFF;
    width: 100%;
    display: flex;
}
.header ul a{
    float: left;
    padding: 5px 10px;
    list-style: none;
    color: #0179fc; 
    text-decoration: none;
}
.header ul li{
    padding: 4px 10px;
    text-align: center;
}
.header ul li:hover{
    color: #fff; 
    background: #0179fc;
    border-radius: 20px;
}
#home-container{
    margin: 0% auto;
    padding-top: 12%;;
    text-align: center;
    background-image: url("../images/agenda-calendar-close-up-273025.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}
#home-container h1 {
    width: 30%;
    padding: 10%;
    color: #0179fc;
}
#home-container button {
    font-weight: bold;
    font-size: 20px;
    border-radius: 31px;
    background-color: unset;
    padding: 0.2% 2%;
    margin: 3%;
    border: #0179fc solid;
    color: #0179fc;
}
#home-container button:hover{
    background-color: #0179fc;
    border: #fff solid;
    color: #fff;
    font-weight: 100;
}
#about-container {
    margin: 1% 15%;
    padding-top: 50px;
    text-align: center;
    color: #0179fc;
}
#about-container h2{
    padding: 5%;
}
#login{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top:0;
    justify-content: center;
    align-items: center;
    display: none;
}
.login-form{
    
    width: 40%;
    height: 250px;
    background-color: #0179fc;
    color: #fff; 
    text-align: center;
    transform: translate(0%, -35%);
}
.login-form input{
    width: 50%;
    margin: 10px auto;
    display: block;
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 5px;
    padding: 1%;
    font-size: 18px;
    background-color: unset;
    color: #fff;
}
.login-form input::placeholder{
    color: #fff;
}
#login form button:hover{
    background-color: #fff;
    color: #0179fc;
}
#login form{
    margin: 50px -20%;
    width: 140%;
}
#login form button{
    background-color: unset;
    color: #fff;
    padding: 1% 2%;
    font-size: 80%;
    border-radius: 5px;
    border: #fff solid;
    margin-top: 3%;
    cursor: pointer;
}
#login form span{
    color: #fff;
    margin-left: 5%;
    cursor: pointer;
}
#create{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top:0;
    justify-content: center;
    align-items: center;
    display: none;
}
.create-account{
    width: 50%;
    height: 500px;
    background-color: #0179fc;
    color: #fff;
    text-align: center;
    transform: translate(0%, 5%);
    display: none;
}
.close{
    top: 0;
    right: 2%;
    position: absolute;
    font-size: 40px;
    cursor: pointer;
    font-weight: bold;
}
.close:hover{
    color:#f00;
}
.create-account input{
    width: 50%;
    margin: 1% auto;
    display: block;
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 5px;
    padding: 1%;
    font-size: 18px;
    background-color: unset;
    color: #fff;
}
.create-account input::placeholder{
    color: #fff;
}
#create form{
    margin: 50px -20%;
    width: 140%;
}
#create form button{
    background-color: unset;
    color: #fff;
    padding: 1% 2%;
    font-size: 80%;
    border-radius: 5px;
    border: #fff solid;
    margin-top: 3%;
    cursor: pointer;
}
#create form span{
    color: #fff;
    margin-left: 5%;
    cursor: pointer;
}
.task{
    display: flex;
}
.tasks {
    width: 35%;
    padding: 3%;
}
.tasks img{
    width: 50px;
    height: 50px;
    border-radius: 25%;
}
#contact-container{
    width: 100%;
    background-color: #0179fc;
}
#contact-container form{
    width: 65%;
    margin: 10px 20%;
}
#contact-container form input{
    margin: 2%;
    padding: 1%;
    background-color: unset;
    border: unset;
    border-bottom: #fff 1px solid;
    border-left: #fff 1px solid;
    color: #fff;
    border-radius: 5px;
    width: 39%;
}
#contact-container form .message{
    margin: 2%;
    padding: 1%;
    background-color: unset;
    border: unset;
    border-bottom: #fff 1px solid;
    border-left: #fff 1px solid;
    color: #fff;
    border-radius: 5px;
    width: 85%;
}
#contact-container #submit{
    width: 100%;
    text-align: center  ;
}
#contact-container button{
    color: #0179fc;
    background: #fff;
    margin: 10px auto;
    border: unset;
    border: #fff 1px solid;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
}
#contact-container button:hover{
    color: #fff;
    background: #3796ff;
}
.input::placeholder{
    color: #fff;
}
.container .footer{
    bottom: 0;
    min-height: 160px;
    display: flex;
    flex-direction: row;
    color: #0179fc;
    margin: 0 20%;
}
.ComeVistUs li{
    list-style: none;
    padding-top: 6px;
    padding-right: 10px;
   
}
.ComeVistUs{
    padding-left: 10px;
    width: 30%;
    line-height: 25px;
}
.ContactUs li{
    list-style: none;
    padding-top: 6px;
}
.ContactUs{
    margin-left: 10vw;
    width: 30%;
    line-height: 25px;
}
.FollowUs{
    margin-left: 10vw;
    width: 35%;
}
.FollowUs ul a{
    text-decoration: none;
    color: #0179fc;
}

.FollowUs li{
    list-style: none;
    padding-top: 6px;
}
.FollowUs ul li img{
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
.ComeVistUs i, .ContactUs i , .FollowUs i{
    font-weight:bold;
    font-size: 19px;
}
@media screen and (max-width: 768px){
    .header{
        padding: 0% 15%;
        position: fixed;
        top:0;
    }
    #home-container .home-images h1 {
        width: 80%;
    }
    
}
@media screen and (max-width: 628px){
    .header{
        padding: 0% 10%;
        position: fixed;
        top:0;
    }
    .create-account{
        width: 90%;
    }
    .login-form{
        width:90%
    }
}
@media (max-width: 420px){
    .header nav ul a {
        padding: 18px 0;
    }
    .header{
        padding: 0% 1%;
        position: fixed;
        top:0;
    }
    #home-container .home-images h1 {
        width: 80%;
    }
    #ContactUs {
        margin-left: 2vw;
        width: 30%;
        line-height: 25px;
    }
    .container #footer {
        bottom: 0;
        min-height: 160px;
        display: flex;
        flex-direction: row;
        color: #0179fc;
        margin: 0 0%;
    }
    #create-account{
        width: 90%;
    }
    #login-form{
        width:90%
    }
}